<p>This table's rows encode a collection of data which is used to populate an array.</p>
<table class="table" data-pl-entity="ctrl.collection" data-on-loaded="ctrl.publish()" data-pl-is-collection="true">
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr data-pl-item>
        <td data-pl-prop-name="name">Josh</td>
        <td data-pl-prop-name="age">33</td>
    </tr>
    <tr data-pl-item>
        <td data-pl-prop-name="name">Patty</td>
        <td data-pl-prop-name="age">33</td>
    </tr>
    <tr data-pl-item>
        <td data-pl-prop-name="name">Hadassah</td>
        <td data-pl-prop-name="age">6</td>
    </tr>
    <tr data-pl-item>
        <td data-pl-prop-name="name">Elijah</td>
        <td data-pl-prop-name="age">4</td>
    </tr>
    <tr data-pl-item>
        <td data-pl-prop-name="name">Caleb</td>
        <td data-pl-prop-name="age">2</td>
    </tr>
    <tr data-pl-item>
        <td data-pl-prop-name="name">Isaiah</td>
        <td data-pl-prop-name="age">0</td>
    </tr>
    </tbody>
</table>