<div data-pl-entity="ctrl.parentObj" data-on-loaded="ctrl.publish()">
    <p>This table's rows encode a collection of data which is used to populate an array.</p>
    <ul class="table" data-pl-entity="ctrl.parentObj.collection" data-pl-is-collection="true">
        <li data-pl-item>
            Name: <span data-pl-prop-name="name">object1</span>
            Children:
            <ul data-pl-entity="$current.children">
                <li></li>
                <li></li>
            </ul>
        </li>
    </ul>
</div>